/node_modules
/coverage
/lib
/mocks
/index.js*

### JetBrainsInversed.gitignore template
.idea
!.idea/runConfigurations
!.idea/codeStyles
!.idea/watcherTasks.xml
!.idea/inspectionProfiles
!.idea/dictionaries
